################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AngularJSMVC/AngularJSMVC/bin
/AngularJSMVC/AngularJSMVC/obj
/AngularJSMVC/.vs
